 .u-section-1 {
  min-height: 693px;
}

.u-section-1 .u-image-1 {
  height: 731px;
  margin-top: -38px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-family: Minecraft1;
  text-shadow: 0px 10px 0px rgba(14,54,110,1);
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  margin: -383px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -500px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -578px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -553px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -526px;
  }
}@font-face {
  font-family: 'Minecraft1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Minecraft1.ttf);
}